*{
    margin:0;
    padding:0;
    font-family: Roboto;
}
#header{
    background: #ffffff;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
    position:sticky;
    top:0;
    z-index: 1000;
}
.nav{
    list-style:none;
    display:inline;
    color:#424447;
    font-size:18px;
    margin-left:35px;
}
.nav:hover{
    color: #388da8 ;
    cursor:pointer;
}
.navs{
    display:flex;
    flex-direction: row;
}
.nav-deep{
    list-style:none;
    margin: 15px;
    position: relative;
}
.heading{
    color:#495a5f;
}
.h-btn{
    text-decoration: none;
    color:white;
    background: #388da8;
    padding:10px 20px;
    border-radius:50px;   
}
.bi-chevron-down{
    font-size: 13px;
}
.active{
    color: #388da8 !important;
}

.h-btn:hover{
    opacity:0.85;
}
.navs-deep{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 100%; 
    width: 200%;
    color:#495a5f;
    padding:15px 5px;
    display:none;
    background: #ffffff;
}
.nav-deep:hover{
    color: #388da8;
    cursor:pointer;
}
.drop-nav{
    position: relative;
}
.drop-nav:hover .navs-deep{
    display:block !important;
}
.d-nav{
    text-decoration: none;
    color:#495a5f;
}
.d-nav:hover{
    color: #388da8;
}
.d-icon{
    display: flex;
}
.dd-icon{
    margin-left:10px;
    margin-top: 5px;
}
.navs-deeps{
    position: absolute;
    top: 0;            
    left: 100%; 
    width: 120%;
    color:#495a5f;
    padding:15px 5px;
    display:none;
    z-index: 999;
    background: #ffffff;
}
.d-icon:hover .navs-deeps{
    display:block !important;
}
#hero{
    background-image: url("Images/hero-bg-1.webp");
    position:relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}
.h-top{
    text-align: center;
    padding:80px;
    position: relative;   
    z-index: 2;   
}
.h-btn-top{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
}
.hh-btn{
    text-decoration: none;
    color:white;
    background: #085973;
    padding:10px 20px;
    border-radius:50px;   
}
.fa-circle-play{
    color: #085973;
    font-size: 30px;
}
.top-h1{
    color:#6a7b80;
    font-size:50px;
    letter-spacing: 1px;
}
.top-h2{
    color: #2b87a5;
}
.h-para{
    font-size: 20px;
    color:#434b4e;
    margin: 10px;
}
.h-btns{
    margin-top: 40px;
}
.hero-img{
    height: 60%;
    width: 40%;
    object-fit: cover;
    margin:50px;
}
.hh-btn:hover{
    opacity: 0.89;
}
.h-btn-top:hover{
    color: #2b87a5;
}
#services{
    background: #f8fbfc;
    margin-top:100px;
}
.s-box{
    display:flex;
    flex:1;
    padding:80px 110px;
}
#services .s-boxes:hover .sh {
  color: #388da8;
}
#services .s-boxes:hover i {
  color: white;
  background: #388da8;
}

.s-boxes {
  display: flex;
  align-items: flex-start; 
  gap: 10px;
  cursor:pointer;
}

.bb{
    background:#d1e5ec;
    color:#388da8;
    font-size:40px;
    padding:15px 20px;
}
.sh{
    color:#434b4e;
    font-size: 18px;
    margin-top:0;
    margin-bottom: 6px;
    
}
#services p{
    color:#767d83;
    font-size:15px;
}
.service-hp{
    margin-left:20px;
    margin-top:-12px;
   
}#about{
    padding:60px 80px;
}
.about-box{
    display:flex;
    flex:1;
    
}
.a-common{
    flex:1;
    padding: 0px 10px;
}
.a-company-img{
    display:flex;
}
#about img{
   object-fit:cover;
   border-radius: 15px;
}
.a-img2{
    margin-left:25px;
}
.a-img3{
    margin-left:25px;
    margin-top:25px;
}
#about li{
    list-style:none;
}
.about-para1{
    font-size: 20px;
    color: #424b5d;
    margin-bottom: 20px;
}
.about-para2{
    font-size: 35px;
    color: #3e5055;
    font-weight: 450;
    margin-bottom: 10px;
}
.about-para3{
    color:#424447;
    margin-bottom:20px;
    line-height:25px;
}
.bi-check-circle{
    color: #388da8;
    font-size: 20px;
}
.a-common li span{
    margin-left:10px;
}
.a-common li p{
    margin-bottom:15px;
    color:#424447;
}
.about-li-p{
    line-height:25px;
}
.about-btn a{
    text-decoration: none;
    display: inline-block;
    background: #388da8;
    color: white;
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 18px;
}
.about-btn .bi-arrow-right{
    margin-left:10px;
    font-size:20px;
}
.about-btn:hover{
    opacity:0.85;
}
#client{
    display:flex;
    padding:70px 80px;
}
.c-img{
    height:100px;
    flex:1;
    margin-left: 20px;
}
#client img{
    padding:25px 50px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.3s ease;
}
#client img:hover {
    filter: grayscale(0%);
    opacity: 1;               
}
#feature{
    padding:20px 90px;
}
#feature .feature-content span{
    display: inline-block;
    background: #388da8;
    height:3px;
    width:50px;
    margin-bottom: 20px;
}
.f-head{
    margin-bottom:20px;
}
.feature-content{
    text-align:center;
    color: #3e5055;
}
.f-para{
    margin-bottom:60px;
}
.feature-1{
    display:flex;
}
#feature .feature-1 .f-img1 img{
    border-radius:15px;
    margin-left:150px;
}
#feature .feature-1 h4{
   color: #3e5055;
   font-size:20px;  
   margin-bottom: 10px;
}
#feature .feature-1 p{
    color: #3e5055;
    font-size: 15px;
    line-height:20px;
    width: 400; 
}
#feature .feature-1 .bi{
    color: #388da8;
    font-size: 20px;
    box-shadow: 0 0 5px #e5dcdc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:30px;
    padding:5px;
}
.f-box{
    display: flex;
    margin-bottom: 20px;
    padding: 30px 30px;
    border-radius:10px;
}
.f-box-heading{
    margin-left: 20px;
}
.feature-box1-left{
    padding: 70px 20px;
}
.feature-box1{
    background: #f7fbfc;
}
.f-box:hover{
    background: #f7fbfc;
}
.feature-2{
    display:flex;
    padding:70px 0px;
}
.feature-2 h3{
    color: #3e5055;
    font-size:25px;
    margin-bottom: 20px;
    width:400px;
}
.feature-2 p{
    color: #3e5055;
    font-size: 16px;
    line-height:22px;
    width:470px;
    margin-bottom: 15px;
}
.feature-btn1 a{
    display:inline-block;
    text-decoration: none;
    color:white;
    background: #388da8;
    padding:10px 20px;
    border-radius:7px;
}
.feature-btn1:hover{
    opacity:0.8
}
.feature-2-heading{
    background: #f7fbfc;
    height: 20%;
    padding: 30px 35px;
    margin-left: 130px;
    border-radius: 15px;
    margin-top: 100;
}
.f-img2 img{
    border-radius:10px;
}
.f-img3 img{
    border-radius:10px;
    margin-left:140px;
}
.feature-3{
    display: flex;
    padding:50px 0px;
}
.feature-3 li{
    list-style: none;
    margin-bottom:15px;
}
.feature-3 h3{
    color: #3e5055;
    font-size:25px;
    margin-bottom: 20px;
    width:400px;
}
.feature-3 span{
    color: #3e5055;
    font-size: 16px;
    line-height:22px;
    width:470px;
    margin-bottom: 15px;
    margin-left:10px;
}
.feature-3 p{
    color: #3e5055;
    font-size: 16px;
    line-height:22px;
    width:470px;
    margin-bottom: 15px;
}
#feature .feature-3 .bi{
    color: #388da8;
    font-size: 20px;
}
.feature-3-heading{
    background: #f7fbfc;
    height: 300px;
    padding: 40px 30px;
    border-radius: 15px;
    margin-top: 50px;
}
#service{
    padding:20px 90px;
    background: #f7fbfc;
}
#service .service-content span{
    display: inline-block;
    background: #388da8;
    height:3px;
    width:50px;
    margin-bottom: 20px;
}
.s-heading{
    margin-bottom:20px;
}
.service-content{
    text-align:center;
    color: #3e5055;
}
.s-para{
    margin-bottom:60px;
}
.service-box1{
    display:flex;
    margin-bottom: 50px;
}
.service-small-box{
    display: flex;
    border: 1px solid #d1d3d4;
    width: 600px;
    background: white;
    padding: 30px 30px;
    border-radius: 16px;
    margin-left: 50px;
}
.bi-activity{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-size: 30px;
    color:#0dcaf0;
    padding:20px 20px;
    font-weight: 1000;
    border:1px solid #0dcaf0; 
    background: #e6fafd;
}
#service .service-box1 a{
    text-decoration: none;
    color:#7e8da8;
}
#service .service-box1 i{
    margin-left:10px;
}
.bi-broadcast{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-size: 30px;
    color:#fd7e14;
    padding:20px 20px;
    font-weight: 1000;
    border:1px solid #fd7e14;
    background: #fff2e7; 
}
.service-box1 h3{
    color: #6f7c80;
    font-size:22px;
    margin-bottom: 10px;
}
.service-box1 p{
    color: #6f7c80;
    margin-bottom: 15px;
    line-height: 22px;
}
.service-heading{
    margin-left:25px;
}
#service .service-box1 .bi-easel{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-size: 30px;
    color:#20c997;
    padding:20px 20px;
    font-weight: 1000;
    border:1px solid #20c997;
    background: #e8f9f4; 
}
.bi-bounding-box-circles{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-size: 30px;
    color:#df1529;
    padding:20px 20px;
    font-weight: 1000;
    border:1px solid #df1529 ;
    background: #fce7e5; 
}
.bi-calendar4-week{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-size: 30px;
    color:#8d10f2;
    padding:20px 20px;
    font-weight: 1000;
    border:1px solid #8d10f2;
    background: #efe7fe; 
}
.bi-chat-square-text{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-size: 30px;
    color:rgb(243 38 140);
    padding:20px 20px;
    font-weight: 1000;
    border:1px solid rgb(243 38 140);
    background: rgb(254 233 243); 
}
.serbox-2{
    margin-top:50px;
}
.service-small-box:hover{
    box-shadow: 0 0 25px #e5dcdc;
}
.service-small-box:hover h3,p{
    color: #434b4e;
}
#feature{
    padding: 30px 80px;
    background: #ffffff;
}
#feature .service-box2{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 0; 
}
#feature .ser-box-content-icon{
    padding: 50px 50px;
    margin-top: 20px;
}
#feature .service-box-content h3{
    font-size: 28px;
    color: #3e5055;
    margin-bottom: 25px;
}
#feature .service-box-content p{
    max-width: 600px;
    width: 100%;
    color: #434b4e;
    margin-bottom: 40px;
}
#feature .services-boxes{
    display: flex;
    gap: 35px;
    margin-bottom: 25px;
}
#feature .ser-boxes{
    display: flex;
    align-items: flex-start;
}
#feature .ser-contents {
    margin-left: 20px;
}
#feature .services-boxes .bi{
    font-size: 26px;
    color: #388da8;
    margin-top: 5px;
}
#feature .ser-contents h4{
    font-size: 18px;
    color: #3e5055;
    margin-bottom: 10px;
}
#feature .ser-con{
    margin-left:-35px;
}
#feature .ser-contents p{
    font-size: 15px;
    line-height: 22px;
    color: #434b4e;
}
#pricing .price-content{
    text-align: center;
}
#pricing .price-content h1{
    color: #3e5055;
    font-size:25px;
    margin-bottom: 20px;
}
#pricing .price-content span{
    display: inline-block;
    background: #388da8;
    height:3.5px;
    width:50px;
    margin-bottom: 20px;
}
#pricing .price-content p{
    color: #3e5055;
    font-size: 16px;
    line-height:22px;
    margin-bottom: 15px;
}
.price-boxes{
    display:flex;
    padding: 50px 100px;
}
#pricing .price-box li{
    list-style:none;
}
#pricing .price-box a{
    display:inline-block;
    text-decoration: none;
    border:1px solid #3e5055;
    color:#3e5055;
    font-size:16px;
    width:100%;
    text-align: center;
    padding:12px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#pricing .price-box .pricing-a{
    display:inline-block;
    text-decoration: none;
    background: #388da8;
    color:white;
    font-size:16px;
    width:100%;
    text-align: center;
    padding:12px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}
#pricing .price-box a:hover{
   background: #388da8;
   color:white;
   border: none;
}
#pricing .price-box .bi-check{
    color:#059652;
    font-size:25px;
}
#pricing .price-box .bi-x{
    color:#757a7d;
    font-size:25px;
}
#pricing .price-box h3{
    color:#657074;
    font-size:20px;
    margin-bottom: 15px;
}
#pricing .price-box p{
    color:#3e5055;
    font-size:15px;
    margin-bottom: 15px;
}
#pricing .price-box h5{
    margin-bottom: 20px;
}
.span-itme1{
    color:#388da8;
    font-size:30px;
    position: relative;
    bottom: 15px;
}
.span-itme2{
    color:#388da8;
    font-size:50px;
}
.span-itme3{
    color:#a0a2a3;
    font-size:18px;
}
.price-box{
    background: #f7fbfc;
    margin-left: 30px;
    border-radius: 10px;
    padding: 40px 40px;
}
#pricing{
    padding:70px 0px;
}
#pricing .price-box .price-para{
    text-align: center;
    color:#3e5055;
    font-size:16px;
    margin-bottom: 25px;
}
#pricing .price-box .price-box-popular{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #388da8;
    font-size: 16px;
    color: white;
    width: 80px;
    height: 7px;  
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin-bottom:2px;
    margin-top: -30px;
    margin-left: 240px;
}
#pricing .price-box li{
    display: flex;  
    margin-bottom: 20px;
    color:#7b7d7e;
}
.price-line{
    text-decoration: line-through;
    color:#a0a2a3;
}
#faq .faq-content{
    text-align: center;
}
#faq .faq-content h1{
    color: #3e5055;
    font-size:25px;
    margin-bottom: 20px;
}
#faq .faq-content span{
    display: inline-block;
    background: #388da8;
    height:3px;
    width:50px;
    margin-bottom: 20px;
}
.faq-para{
    border:1px solid #d3e5ec;
    padding: 20px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor:pointer;
}
.faq-para-active{
    background: #f7fbfc;
    border:1px solid #d3e5ec;
    padding: 20px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor:pointer;
}
.faq-paras{
    padding: 30px 230px;
}
.faq-para-p1-active{
    margin-bottom:20px;
    color:#388da8;
}
.faq-para-p1{
    margin-bottom:20px;
    color:#434b4e;
}
.faq-para-p2{
    margin-bottom:20px;
    line-height:22px;
    display:none;
}
.faq-para-p2-active{
    margin-bottom:20px;
    line-height:22px;
}
.faq-para:hover .faq-para-p2{
    display:block;
}
.faq-para:hover{
    background: #f7fbfc;
}
.faq-para:hover .faq-para-p1{
    color:#388da8;
}
.faq-para-p1-active i{
    margin-left:1000px;
    margin-top:-20px;
    display: inline-block;
}
.faq-para-p1 i{
    margin-left:1000px;
    margin-top:-20px;
    display: inline-block;
}
#testimonial {
    background: #f7fbfc;
    padding:70px 100px;
    text-align: center;
}
#testimonial .testimonial-content{
    text-align: center;
}
#testimonial .testimonial-content h1{
    color: #3e5055;
    font-size:25px;
    margin-bottom: 20px;
}
#testimonial .testimonial-content span{
    display: inline-block;
    background: #388da8;
    height:3px;
    width:50px;
    margin-bottom: 20px;
}
.testimonial-box{
    padding:50px 50px;
}
.stars{
    color: #ffc107;
    margin-bottom: 30px;
}
.testimonial-box img{
    width:100px !important;
    border-radius: 50%;
}
.testimonial-heading h3{
    color:#3e5055;
}
.testimonial-boxes p{
    line-height: 28px;
    margin-bottom: 20px;
}
.testimonial-heading h4{
    color:#b4afaf;
}
.testimonial-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.testimonial-boxes{
    padding:50px 50px;
    margin-left:30px;
    background: white;
}
#contact{
    padding:50px 0px;
}
#contact .contact-content{
    text-align: center;
}
#contact .contact-content h1{
    color: #3e5055;
    font-size:25px;
    margin-bottom: 20px;
}
#contact .contact-content span{
    display: inline-block;
    background: #388da8;
    height:3px;
    width:50px;
    margin-bottom: 20px;
}
.contact-content p{
    margin-bottom: 70px;
}
.contact-address{
    display: flex;
    text-align: center;
    padding:0px 100px;
}
.contact-address-box{
    flex:1;
    padding: 30px 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.contact-address-inside-box{
    flex: 1;
    display:flex;
    margin-left: 25px ;
}
.contact-box1{
    flex: 1;
    padding: 30px 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.contact-box2{
    flex: 1;
    margin-left: 25px;
    padding: 30px 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.contact-address i{
    font-size: 25px;
    color: #388da8;
    border: 2px dotted #388da8;
    display: inline-block;
    padding: 15px;
    border-radius: 40px;
    margin-bottom: 20px;
}
.contact-box1 a{
    text-decoration: none;
    color: #64676a;
}
.contact-box2 a{
    text-decoration: none;
    color: #64676a;
}
.contact-address-box p{
     color: #64676a;
}
.contact-address-box h3{
     color: #3e5055;
     margin-bottom: 15px;
}
.contact-map-form{
    display: flex;
    padding:30px 100px;
}
.contact-map{
    flex: 1;
}
.contact-form{
    flex: 1;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-left: 25px;
    padding: 30px 30px;
}
.c-btn{
    text-decoration: none;
    color:white;
    background: #378ca7;
    padding:10px 20px;
    border-radius:50px; 
}
.c-btn:hover{
    opacity:0.85;
}
.contact-btn{
    text-align: center;
}
.form-field{
    display: flex;
    margin-bottom: 30px;
}
#name{
    width: 280px;
    height:45px;
    font-size: 15px;
    padding:0px 15px;
    color: #64676a;
}
#email{
    width: 275px;
    height:45px;
    margin-left: 25px;
    font-size: 15px;
    padding:0px 15px;
    color: #64676a;
}
#subject{
    width: 580px;
    height:45px;
    margin-bottom: 30px;
    font-size: 15px;
    padding:0px 15px;
    color: #64676a;
}
#message{
    width: 580px;
    height:150px;
    margin-bottom: 30px;
    font-size: 15px;
    padding:15px 15px;
    color: #64676a;
}
#footer{
    background:#f8fbfc;
    padding: 50px 100px;
}
.footer-division{
    display:flex;
}
.footer-icon i{
    color:#3e5055;
    border: 1px solid #3e5055;
    padding:10px 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.footer-icon{
    margin-bottom: 30px;
}
.footer-icon i:hover{
    color: #378ca7;
    border: 1px solid #378ca7;
}
.footer-1 h1{
    color:#3e5055;
    margin-bottom: 30px;
}
.footer-1 p{
    color:#3e5055;
    line-height: 25px;
}
.footer-1 span{
    color:#3e5055;
    font-weight: 700;
}
.footer-2 li{
    list-style: none;
    color: #3e5055;
    line-height: 30px;
}
.footer-2 li:hover{
    cursor: pointer;
    color:#378ca7;
}
.footer-3 li:hover{
    cursor: pointer;
    color:#378ca7;
}
.footer-3 li{
    list-style: none;
    color: #3e5055;
    line-height: 30px;
}
.footer-2 h3{
    color:#1b1a1a;
    margin-bottom: 20px;
}
.footer-3 h3{
    color:#1b1a1a;
    margin-bottom: 20px;
}
.footer-4 h3{
    color:#1b1a1a;
    margin-bottom: 20px;
}
.footer-para-1{
    margin-bottom: 15px;
}
.footer-para-2{
    margin-bottom: 30px;
}
.footer-1{
    flex:1.5;
}
.footer-2{
    flex:0.5;
    margin-right: 20px;
}
.footer-3{
    flex:0.5;
}
.footer-4{
    flex:1.5;
    margin-left: 50px;
}
.footer-4 p{
    margin-bottom: 30px;
}
.footer-last-content{
    margin-top: 50px;
    text-align: center;
}
.footer-last-content-para1 span{
    color:#1b1a1a;
    font-weight: 600;
}
.footer-last-content-para2 span{
    color:#378ca7;
    cursor: pointer;
}
.footer-4-form .email{
    padding: 12px 50px;
    border: 1px solid #388da8;
    border-radius: 20px;
}
.footer-4-form .button{
    color:white;
    background: #388da8;
    padding:10px 20px;
    border-radius:50px; 
    border: 0;
    font-size: 17px;
}
.footer-4-form .button:hover{
    opacity:0.85;
}